*{
    margin: 0;
    padding: 0;
}

body{

    background-color: #eee;
}

#header{

    text-align: center;
}

#header h1,
#showcase #image-caption,
#header #intro,
#footer #biography,
#footer #note
{
    padding: 10px 0;
}

#showcase {
    text-align: center;
}

#footer {
    width: 700px;
    margin: auto;
}

#footer #biography {
    text-align: center;
}

#img-div{

    display: flex;
    justify-content: center;
    flex-direction: column;
}

img {
    max-width: 100%;
    padding: 10px 200px;
    height: auto;
}

@media screen and (max-width:600px) {

    #header h1{

        font-size: 18px;
    }
}